.App {
  text-align: center;
  font-family: "IBM Plex Mono", Andale Mono, monospace;
  font-weight: 400 !important;
}

.ant-form-item-label>label {
  font-size: 18px !important;
}

.ant-table table { font-size: 17px; }

.ant-typography {
  font-size: 25px;
}

.ant-select-item-option-content {
  font-size: 16px;
  line-height: 30px;
  color: grey;
}